@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&family=Quicksand&family=Roboto&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background: var(--backround-color);
  color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1315px;
  padding: 0 20px;
  margin: 0 auto;
}

:root {
  --backround-color: #302c42;
  --text-color: #ffffff;
  --button-backround: #8176af;
}

.header {
  background-color: var(--backround-color);
  padding: 30px 0px;
  color: #fff;
}
.header .header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_container .header__logo a {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .header_container .nav .nav__list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.header .header_container .nav .nav__list .nav__list__item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.header .header_container .header__button button {
  font-weight: 700;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  padding: 15px 20px;
  color: white;
  transition: all 0.3s ease;
  margin-right: 10px;
}
.header .header_container .header__button button:nth-child(2) {
  background-color: var(--button-backround);
  border: none;
  color: var(--backround-color);
}

.main {
  padding: 7% 0;
}
.main .main__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main__about .main__content {
  max-width: 455px;
}
.main .main__about .main__content h2 {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56.8px;
}
.main .main__about .main__content h2 span {
  color: var(--button-backround);
}
.main .main__about .main__content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
}
.main .main__about .main__content .main__button {
  display: flex;
  align-items: center;
}
.main .main__about .main__content .main__button button {
  font-weight: 700;
  font-size: 14px;
  line-height: 14.5px;
  border: none;
  border-radius: 40px;
  padding: 15px 28px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
.main .main__about .main__picture img {
  border: 1rem solid rgba(0, 0, 0, 0.1294117647);
  border-radius: 100px 100px 100px 240px;
}

#section {
  padding: 0 35px;
}

.section {
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
  border-radius: 90px;
}
.section .section__container {
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.section .section__container .section__box {
  flex-grow: 1;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 0.1rem solid var(--button-backround);
}
.section .section__container .section__box h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29.5px;
  margin-bottom: 10px;
}
.section .section__container .section__box:last-child {
  border: none;
}

.about {
  padding: 7% 0;
}
.about .about__big .about__content__first_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}
.about .about__big .about__content__first_page .about__content {
  gap: 1rem;
}
.about .about__big .about__content__first_page .about__content h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 43.5px;
}
.about .about__big .about__content__first_page .about__content h4 span {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 300;
}
.about .about__big .about__content__first_page .about__text {
  max-width: 600px;
}
.about .about__big .about__content__first_page .about__text p {
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
}
.about .about__big .section__about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
}
.about .about__big .section__about .main__text {
  max-width: 560px;
}
.about .about__big .section__about .main__text h2 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 10px;
}
.about .about__big .section__about .main__text h2 span {
  font-weight: 300;
  line-height: 43.5px;
}
.about .about__big .section__about .main__text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
}
.about .about__big .section__about .main__text .main__button {
  display: flex;
  align-items: center;
}
.about .about__big .section__about .main__text .main__button button {
  font-weight: 700;
  font-size: 14px;
  line-height: 14.5px;
  border: none;
  border-radius: 40px;
  padding: 15px 28px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}

.sectionn {
  padding: 40px;
}
.sectionn .box__container__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.sectionn .box__container__card .box__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 40px;
  padding: 50px 30px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
}
.sectionn .box__container__card .box__card h3 {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.5px;
  margin-bottom: 30px;
  position: relative;
}
.sectionn .box__container__card .box__card h3::before {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 0.8px;
  right: 0;
  left: 0;
  background: var(--button-backround);
}
.sectionn .box__container__card .box__card img {
  margin-bottom: 20px;
  border-radius: 50%;
  border: 0.8rem solid rgba(14, 14, 14, 0.3215686275);
}
.sectionn .box__container__card .box__card p {
  text-align: left;
  font-weight: 400;
  font-size: 13.4px;
  line-height: 18.6px;
  margin-bottom: 25px;
}
.sectionn .box__container__card .box__card .button {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  padding: 8px 25px;
  font-weight: 600;
  line-height: 29.5px;
  border-radius: 40px;
  border: none;
  background-color: var(--button-backround);
}
.sectionn .box__container__card .box__card .button:hover {
  border: 2px solid var(--text-color);
  background: transparent;
  color: var(--text-color);
}
.sectionn .img__page2 {
  padding: 70px 0;
  text-align: center;
}
.sectionn .img__page2 .container__images {
  position: relative;
  width: 100%;
  text-align: center;
  height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background: url(../img/card_section_techno.png);
  border-radius: 150px;
}
.sectionn .img__page2 .container__images h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 43.5px;
}
.sectionn .img__page2 .container__images h1 span {
  font-weight: 300;
}
.sectionn .img__page2 .container__images a {
  position: absolute;
  bottom: -28px;
  width: 60px;
  height: 60px;
  background-color: var(--button-backround);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border-radius: 50%;
}
.sectionn .img__page2 .container__brand {
  padding: 50px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionn .about__content__first_page3 {
  display: flex;
  justify-content: space-between;
}
.sectionn .about__content__first_page3 .about__content h4 {
  font-size: 36px;
}
.sectionn .about__content__first_page3 .about__content span {
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sectionn .about__content__first_page3 .about__text {
  max-width: 500px;
}

.form__container form.form.container {
  padding: 100px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  border-radius: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  text-align: center;
}
.form__container form.form.container h3 {
  font-weight: 700;
  font-size: 37px;
  line-height: 43.5px;
}
.form__container form.form.container p {
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 30px;
}
.form__container form.form.container .row__form .column__form {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form__container form.form.container .row__form .column__form .input__box {
  margin: 5px;
  width: 100%;
}
.form__container form.form.container .row__form .column__form .input__box input {
  border: none;
  border: 2px solid var(--text-color);
  width: 100%;
  padding: 1rem;
  background-color: var(--backround-color);
  color: var(--text-color);
  border-radius: 1.5rem;
}
.form__container form.form.container .row__form .column__form .input__box input::-moz-placeholder {
  color: #fff;
}
.form__container form.form.container .row__form .column__form .input__box input::placeholder {
  color: #fff;
}
.form__container form.form.container .row__form .column__form textarea {
  width: 100%;
  border-radius: 50px;
  resize: none;
}/*# sourceMappingURL=style.css.map */